<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thực tập cơ sở</title>
     <link rel="stylesheet" th:href="@{/client/css/header.css}">
    <link rel="stylesheet" th:href="@{/client/css/content.css}">
    <link rel="stylesheet" th:href="@{/client/css/base.css}">
    <link rel="stylesheet" th:href="@{/client/css/grid.css}">
    <link rel="stylesheet" th:href="@{/client/css/responsive.css}">
    <link
        rel="stylesheet"
        type="text/css"
        href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
      />
    <link rel="stylesheet" th:href="@{/client/font/fontawesome-free-5.15.3-web/fontawesome-free-5.15.3-web/css/all.min.css}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <div id="app">
        <!-- Header -->
        <header class="header">
            <div class="grid wide">
                <div class="header_nav">
                    <a href="/" class="header_nav-logo">
                        <img th:src="@{/client/img/bookingCare.png}" alt="">
                        
                    </a>

                    <div class="header_nav-list hide-on-tablet-mobile">
                        <div class="header_nav-item">
                            <a href="./ChuyeKhoa.html" class="header_nav-link">Chuyên Khoa</a>
                            <span>Tìm bác sĩ theo chuyên khoa</span>
                        </div>

                        <div class="header_nav-item">
                            <a href="./Cosoyte.html" class="header_nav-link">Cơ Sở Y Tế</a>
                            <span>Chọn bệnh viện phòng khám</span>
                        </div>

                        <div class="header_nav-item">
                            <a href="./Doinguchuyengia.html" class="header_nav-link">Bác Sĩ </a>
                            <span>Chọn bác sĩ giỏi</span>
                        </div>

                        <div class="header_nav-item">
                            <a href="./GoiKham.html" class="header_nav-link">Gói Khám</a>
                            <span>Khám sức khỏe tổng quát</span>
                        </div>
                    </div>

                    <div class="header_nav_login">
                        <div class="login-list">
                            <a href="./Dangnhap.html" class="login-item js-dangNhap">Đăng Nhập</a>
                            <a href="./DăngKy.html" class="login-item js-dangKy">Đăng Ký</a>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <div class="content__search-form">
        	<form class="user" action="/register" method="post" id="form-1">
            
                <div class="form-heading ">
                    <h3 class="heading-login">Đăng Ký</h3>
                </div>
                <div class="spacer"></div>
                <div class="form-body">
                    <div class="form-group">
                        <label for="username" class="form-label">Tên đầy đủ</label>
                        <input id="username" name="username" type="text" placeholder="VD: Nguyễn Văn A" class="form-control">
                        <span class="form-message"></span>
                        <div id="msg"></div>
                    </div>

                    <div class="form-group">
                        <label for="email" class="form-label">Email</label>
                        <input id="email" name="email" type="text" placeholder="VD:NguyenVanA@gmail.com" class="form-control">
                        <span class="form-message"></span>
                    </div>

                    <div class="form-group">
                        <label for="phone" class="form-label">Phone Number</label>
                        <input id="phone" name="phone" type="text" placeholder="VD:0988888888" class="form-control">
                        <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                        <label for="password" class="form-label">Mật Khẩu </label>
                        <input id="exampleInputPassword" name="password" type="password" placeholder="*********" class="form-control">
                        <span class="form-message"></span>
                    </div>

                    <div class="form-group">
                        <label for="password" class="form-label"> Nhập lại Mật Khẩu </label>
                        <input id="exampleRepeatPassword"  type="password" placeholder="*********" class="form-control">
                        <span class="form-message"></span>
                    </div>
                 
                </div>
                <button type="submit" class="form-submit" value="Register" >Register</button>
                 
            </form>
        </div>
      
        <!-- footer -->
        <div class="footer">
            <div class="grid wide">
                <div class="row">
                    <div class="col l-4 m-6 c-12">
                        <div class="footer1">
                            <img th:src="@{/client/img/bookingCare.png}" alt="" class="footer__img">
                            <ul class="footer1__list">
                                <li class="footer1-item">
                                    <strong>Tru Sở Tại Hà Nội</strong>
                                </li>
                                <li class="footer1-item">
                                    <i class="fas fa-map-marker-alt"></i>
                                    28 Thành Thái, Dịch Vọng, Cầu Giấy, Hà Nội
                                </li> 
                                <li class="footer1-item">
                                    <i class="fas fa-check"></i>
                                    ĐKKD số: 0106790291. Sở KHĐT Hà Nội cấp ngày 16/03/2015
                                </li>
                            </ul>
                            <div class="footer1__img">
                                <img th:src="@{/client/img/bo-cong-thuong.svg}" alt="">
                                <img th:src="@{/client/img/bo-cong-thuong.svg}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="footer2">
                            <ul class="footer2__list">
                                <li class="footer2-item">
                                   <a href="#"> Liên Hệ Hợp tác</a>
                                 </li>
                                <li class="footer2-item">
                                   <a href="#"> Câu hỏi thường gặp </a>
                                </li>
                                <li class="footer2-item">
                                  <a href="#">  Điều khoản sử dụng</a>
                                 </li>
                                <li class="footer2-item">
                                <a href="#">    Chính sách Bảo mật </a>
                                </li>
                                <li class="footer2-item">
                                   <a href="#"> Quy trình hỗ trợ giả quyết khiếu nại</a>
                                </li>
                                <li class="footer2-item">
                                <a href="#">    Quy chế hạot động</a> 
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col l-4 m-6 c-12">
                        <div class="footer3">
                            <div class="footer3__text">
                                <h2 class="footer3__headinding">Trụ Sở Tại Hà Nội </h2>
                                <p class="footer3__des"> 28 Thành Thái, Dịch Vọng, Cầu Giấy, Hà Nội</p>
                            </div>
                            
                            <div class="footer3__text">
                                <h2 class="footer3__headinding">Văn phòng tại TP Hồ Chí Minh </h2>
                                <p class="footer3__des">  6/6 Cách Mạch Tháng Tám, P. Bến Thành, Quận 1</p>
                            </div>

                            <div class="footer3__text">
                                <h2 class="footer3__headinding">Hỗ trợ khách hàng </h2>
                                <p class="footer3__des"> support@bookingcare.vn (7h -
                                    18h)</p>
                            </div>

                        </div>
                    </div>
                </div>
                <hr>
                <div class="footer__bottom">
                    <i class="fas fa-mobile-alt"></i>
                    <p class="footer__bottom-install"> Tải ứng dụng BookingCare
                        cho điện thoại hoặc máy tính bảng:
                        <a href="https://play.google.com/store/apps/details?id=vn.bookingcare.bookingcare" target="_blank">Android</a>-
                        <a href="https://apps.apple.com/vn/app/bookingcare/id1347700144" target="_blank">Iphone/ipad</a>-
                        <a href="#" target="_blank">Khác</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/client/js/ttcs.js}"></script>
   

    <script >
    var password= document.getElementById("exampleInputPassword");
    var confirm_password= document.getElementById("exampleRepeatPassword");
    
    function validatePassword(){
    	if(password.value != confirm_password.value){
    		confirm_password.setCustomValidity("Password don't match");
    	}
    	else{
    		confirm_password.setCustomValidity('');
    	}
    }
    password.onchage= validatePassword;
    confirm_password.onkeyup= validatePassword;
    
    
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" crossorigin="anonymous"></script>
	
	<script type="text/javascript">
	jQuery.fn.extend({
	    disable: function(state) {
	        return this.each(function() {
	            this.disabled = state;
	        });
	    }
	});
		$(document).ready(function() {
			$("#username").on("input", function(e) {
				$('#msg').hide();
				if ($('#username').val() == null || $('#username').val() == "") {
					$('#msg').show();
					$("#msg").html("Username is a required field.").css("color", "red");
					$('input[type="submit"], input[type="button"], button').disable(true);
				} else {
					$.ajax({
						type: 'post',
						url: "/user",
						data: JSON.stringify({username: $('#username').val()}),
						contentType: 'application/json; charset=utf-8',
						cache: false,
						beforeSend: function (f) {
							$('#msg').show();
							$('#msg').html('Checking...');
						},
						statusCode: {
						    500: function(xhr) {
						    	$('#msg').show();
						    	$("#msg").html("Username available").css("color", "green");
						    	$('input[type="submit"], input[type="button"], button').disable(false);
						    }
						},
						success: function(msg) {
							$('#msg').show();
							if(msg !== null || msg !== "") {
								$("#msg").html("Username already taken").css("color", "red");
								$('input[type="submit"], input[type="button"], button').disable(true);
							} else {
								$("#msg").html("Username available").css("color", "green");
								$('input[type="submit"], input[type="button"], button').disable(false);
							}
						},
						error: function(jqXHR, textStatus, errorThrown) {
							$('#msg').show();
							$("#msg").html(textStatus + " " + errorThrown).css("color", "red");
						}
					});
				}
			});
		});
	</script>
    
</body>

</html>